.map {
    &__container {
        position: relative;
        color: #333333;
        font-weight: 400;
        font-size: 18px;
        height: 650px;
    }

    &__card {
        left: 18%;
        top: 130px;
        max-width: 560px;
        padding: 40px;
        position: absolute;
        background-color: #FFFFFF;
        border-color: #DDDDDD;

        .icon {
            color: #DB2F09;
            margin-right: 15px;
            width: 30px;
            height: 30px;
        }

        &_title {
            color: #000000;
        }

        &_contact {
            font-weight: 500;
            font-size: 24px;
        }
    }
}