.numbers {
    &__container {
        position: relative;
        color: #FFFFFF;
        font-weight: 700;
        height: 429px;
    }

    &__content {
        top: 0;
        left: 0;

        position: absolute;
        padding: 40px 18%;

        @include for-portrait-phones-down {
            padding: 10px 18%;
        }
    }

    &__row {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(4, 1fr);

        @include for-portrait-phones-down {
            gap: 10px;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__item {
        padding-top: 60px;
        text-align: center;

        @include for-landscape-phones-down {
            padding-top: 40px;
        }

        @include for-portrait-phones-down {
            padding-top: 10px;
        }

        &_title {
            font-size: 36px;

            @include for-landscape-phones-down {
                font-size: 30px;
            }

            @include for-portrait-phones-down {
                font-size: 25px;
            }
        }

        &_text {
            padding-top: 16px;
            font-weight: 500;
            font-size: 14px;

            @include for-landscape-phones-down {
                padding-top: 8px;
                font-size: 12px;
            }
        }
    }
}