.questions {
    &__container {
        position: relative;
        color: #FFFFFF;
        font-weight: 700;
    }

    &__content {
        top: 0;
        left: 0;

        position: absolute;
        padding-left: 18%;
        padding-right: 18%;
        padding-top: 40px;
        padding-bottom: 40px;

        &_title {
            font-size: 40px;
        }
    }

    @media (max-width:1200px) {
        &__content {
            top: 0;
            left: 0;

            position: absolute;
            padding-left: 18%;
            padding-right: 18%;
            padding-top: 10px;
            padding-bottom: 10px;

            &_title {
                font-size: 20px;
            }
        }
    }

    &__row {
        display: grid;
        gap: 150px;
        grid-template-columns: repeat(2, 1fr);
    }

    &__item {
        padding-top: 60px;
        text-align: start;
        font-size: 24px;

        &_text {
            font-weight: 400;
        }

        &_contact {
            display: flex;
            margin-top: 30px;
        }

        &_contact_icon {
            width: 30px;
            height: 30px;
            color: #DB2F09;
            margin-right: 20px;
        }

        &_contact_text {
            font-weight: 700;
            font-size: 24px;
        }

        &_form {
            margin-top: 30px;
            display: grid;
            gap: 30px;
            grid-template-columns: repeat(2, 1fr);

            input {
                width: 245px;
                padding: 20px
            }

            input::placeholder {
                font-weight: 500;
                font-size: 18px;
                color: #B0B0B0;
            }

            &_button {
                width: 245px;
                padding: 20px;
            }

            &_agreement {
                font-weight: 400;
                font-size: 11px;
                color: #B0B0B0;
            }
        }
    }

    @media (max-width:1200px) {
        &__item {
            padding-top: 20px;
            text-align: start;
            font-size: 16px;

            &_text {
                padding-top: 4px;
                font-weight: 400;
                font-size: 18px;
            }

            &_contact {
                display: flex;
                margin-top: 10px;
            }

            &_contact_icon {
                width: auto;
                height: auto;
                color: #DB2F09;
                margin-right: 10px;
            }

            &_contact_text {
                font-weight: 700;
                font-size: 12px;
            }

            &_form {
                margin-top: 20px;
                display: grid;
                gap: 15px;
                grid-template-columns: repeat(2, 1fr);

                input {
                    width: 245px;
                    padding: 10px
                }

                input::placeholder {
                    font-weight: 500;
                    font-size: 12px;
                    color: #B0B0B0;
                }

                &_button {
                    width: 245px;
                    font-size: 12px;
                    padding: 10px;
                }

                &_agreement {
                    font-weight: 400;
                    font-size: 8px;
                    color: #B0B0B0;
                }
            }
        }
    }
}