.transportation {
    &__container {
        background-color: #FFFFFF;
    }

    &__content {
        padding-left: 18%;
        padding-right: 18%;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    &__row {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(4, 1fr);

        @include for-desktops-down {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__card {
        position: relative;
        margin-top: 40px;
        height: 160px;
        padding: 20px;

        border: solid #DDDDDD;
        border-width: 1px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        background-color: #FFFFFF;

        &_title {
            position: absolute;
            top: 20px;
            left: 20px;
            font-weight: 500;
            font-size: 16px;
            color: #333333;
        }

        &_icon {
            position: absolute;
            bottom: 20px;
            right: 20px;

            &_svg {
                width: 80px;
                height: 80px;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}